// adaptive font
@import 'main-window/src/styles/responsive-font-size.scss';
@import 'main-window/src/styles/accordion.scss';
@import 'main-window/src/styles/datepicker/datepicker.scss';

// html, body, .App, #root {
//     // height: 100vh;
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     width: 100%;
//     // overflow: hidden;
// }

$BORDER: hsl(0,0%,80%);
$LIGHT-TEXT: #FFF;
$DARK-TEXT: #000;
$LINE-BG: #8194A6;
$BG-COLOR: #303841;
$CONTROLS: #D9DBDB;
$TEXT-COLOR: #D9DBDB;
$UNITS-COLOR: #D9DBDB; //#959696
$LABEL-COLOR: #353D45;
$LABEL-BORDER: #454F59;
$BODY-COLOR: #576370;
$BODY-COLOR-H: #5F6C7A;
$OPAQUE: rgba(255, 255, 255, 0.4);


$SHADOW-COLOR:#292F36;
$BORDER-COLOR:#292F36;


$CONTROLS: hsl(180, 3%, 95%);
$BLUE:#5DA1FF;
$DEEP-BLUE: #4E87D6;
$LIGHT-ICE: rgb(28, 200, 163);
$WARNING-COLOR: #ff8534;
$ALERT-COLOR: #ff3333;
$CRITICAL-ICE:rgb(114, 19, 19);

$CONNECTED: rgb(28, 156, 45);
$CONNECTING: $BLUE;
$BLACK: #000;
$WHITE: #FFF;


@mixin frames($name, $property, $color1, $color2) {
    @keyframes $name {
        from {$property: $color1;}
        to {$property: $color2;}
    }
}
@include frames(strokeYellow, stroke, $ALERT-COLOR, $BLACK);
@include frames(strokeRed,stroke ,$WARNING-COLOR ,$BLACK );
@mixin fast-transition {
    transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
@mixin dash-popup-shadow() {
    box-shadow:1px 1px 6px $SHADOW-COLOR;
}

@mixin icon-btn-hover() {
    color: $BLUE;
    transition: color 200ms ease-in;
}

@keyframes stroke-opacity-calm {
    0% {stroke-opacity: 0;}
    100% {stroke-opacity: 1;}
}

@keyframes fa-opacity-calm {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes icon-jump {
    0% {transform: translateY(0)}
    70% {transform: translateY(-5px)}
    90% {transform: translateY(1px)}
    100% {transform: translateY(0)}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}



body, html {
    height: 100%;
    margin: 0;
}

#root {
    
    user-select: none;
    height: 100%;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    width: 100%;
    // overflow: hidden;

    .app_header {
        display: flex;
        flex-direction: row;
        background-color:$LABEL-COLOR;
        justify-content: space-between;
        align-items: baseline;

        // position: fixed;
        // z-index: 1000;
        height: 2rem;
        width: 100%;
        

        .connect-status-container{

            padding: 0.5rem 0;
            

            .connect-icon {

                padding: 1rem;

                &.connected {
                    color: $CONNECTED;
                }

                &.connecting {
                    color: $CONNECTING;
                }

                &.disconnected {
                     color: gray;
                }
            }

            .connect-message {
                font-size: 0.9rem;
                color: $TEXT-COLOR;
                margin: 0 1rem 0 0;
            }
        }

        .header-mode-switch-container {
            margin: 0 1rem 0 0;

            .switch_key {
                box-sizing: border-box;
                cursor: pointer;
                background-color: $LABEL-COLOR;
                padding: 0.2rem 0.8rem;
                color: darkgray;
                border-left: $BODY-COLOR dotted 1px;
                

                &:last-child {
                    border-right: $BODY-COLOR dotted 1px;
                }

                input {
                    display: none;
                }

                label {
                    cursor: inherit;
                    
                    
                }

                &.available {
                    color: $TEXT-COLOR;
                    // transition: color 200ms ease-in;
                }

                &.enabled {
                    @include icon-btn-hover();
                }
            }
        }

        
    } // app ehader
    
    .main {
        display: block;
        box-sizing: border-box;
        
        margin: 0;
        padding: 0;
        width: 100vw;
        height: calc(100% - 2rem);
    
    
        .current {
    
            display: grid;
            grid-template-columns: 25rem auto;
            grid-template-rows: 100%;
            width: 100%;
            height: 100%;
    
            .left_pane {
    
                height: 100%;
         
                .dashboard {
                    height: 100%;
                    color: $TEXT-COLOR;
                    background-color: $LINE-BG;
                    font-size: 1rem;
    
                    .arrow {
                        font-size: 0.8rem;
                        padding-right: 0.5rem;
                    } // arrow
    
                    .therm_icon, .map_icon, .chart_icon {
                        color: inherit;
                        font-size: 0.9em;
                        padding-right: 0.2rem;
                    } // iconz
    
                    .map_icon, .chart_icon {
                        
                        svg {
                            cursor: pointer;
                        }
    
                        &:hover {
                            @include icon-btn-hover();
                        }
                    
                    } //map icon
    
                    .blue{
                        color:$BLUE;
                        // cursor: pointer;
                    }

                    .bold {
                        font-weight: bolder;
                    
                    }
    
                    .dep_block {
    
                        .dep_header {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            background-color: $LABEL-COLOR;                      
                            padding: 0.2rem 1rem;
                            border-bottom: 1px solid $LABEL-BORDER;
    
                            
                        } // deop header

                        .dep_body {
                            animation: fadein 0.35s ease-in;
                        }
    
                    } // dep block
    
                    .line_block {
    
                        .line_header {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            background-color: $LABEL-COLOR;                      
                            padding: 0.2rem 1rem;
    
                          

                           
                        } // line header
    
                        .line_body {
                            background-color: $LINE-BG;
                            animation: fadein 0.35s ease-in;
                            padding: 0.2rem 0.6rem;
    
                            .range_card {
                                margin: 0.5rem 0;
    
                                .range_header {
                                    @include dash-popup-shadow();
                                    background-color: $LABEL-COLOR;
                                    display: flex;
                                    justify-content: space-between;
                                    border-radius: 0.5rem 0.5rem 0 0;
                                    padding: 0.2rem 1rem;
    
                                    .header_feature {
                                        cursor: default;
                                        border-left: 1px dotted $BODY-COLOR;
                                        padding-left: 1rem;
                                                                            
                                        &:first-child {
                                            padding-left: 0.2rem;
                                            border-left: none;
                                            align-self: left;
                                        }
        
                                        &:last-child {
                                            align-self: right;
                                        }
                                       
    
                                    } //header feature
    
    
                                } // header
    
                                .wire_strips {
                                    @include dash-popup-shadow();
                                    border-radius: 0 0 0.5rem 0.5rem;
    
                                    .strip {
                                        padding: 0 1rem;
                                        background-color: $BODY-COLOR;
                                        display: grid;
                                        grid-template-columns: 20% 40% 40%;
                                        margin: 0;
    
                                        &:hover {
                                            background-color: $BODY-COLOR-H;;
                                            transition: color 200ms ease-in;
                                        }
    
                                        &:first-child {
                                            padding-top: 0.2rem;
                                        }
    
                                        &:last-child {
                                            padding-bottom: 0.2rem;
                                            border-radius: 0 0 0.5rem 0.5rem;
                                        }
    
                                        .ice_block, .tension_block {
                                            cursor: pointer;
    
                                        } //ice, tension block
    
                                        span {
                                            vertical-align: middle;
    
                                            .unit {
                                                vertical-align: bottom;
                                            }
                                        }
    
                                        svg {
                                            height: 1rem;
                                            vertical-align: top;
                                            padding: 0.1rem 0.2rem 0 0;
                                        }
    
                                    }//strip
    
                                } //strips
    
                            } // range card
    
                        } // line body
    
                    } //line blokc
                } // dashboard
    
            } // left.pane
    
            .right_pane {
                // display: flex;
                // flex-direction: column;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 100%;
                height: 100%;
                width: 100%;

                &.two_rows {
                    grid-template-rows: 50% 50%;
                }
    
                .map_cont {


                    .centerline {
                        stroke: $BLACK;
                        stroke-width: 5;
                        stroke-opacity: 0.6
    
                    } // centerline
    
                
                    .range {
                        stroke-width: 8;
                        stroke-opacity: 1;
                        stroke-linecap: square;
                        stroke: $BLACK;
                        
                        @mixin range($color) {
                            animation: stroke-opacity-calm 1500ms cubic-bezier(0.39, 0.575, 0.565, 1) infinite running; 
                            stroke: $color;
                        }

                        &.hint {
                            @include range($BLUE)
                        }

                        &.light-ice {
                            @include range($LIGHT-ICE)
                        }
                
                        &.warning-ice {
                            @include range($WARNING-COLOR)
                        }
                
                        &.alarm-ice {
                            @include range($ALERT-COLOR)
                        }
                
                        &.critical-ice {
                            @include range($CRITICAL-ICE)
                        }

                    } // range

                    
                    .tower-popup {

                        font-family: "Roboto Condensed", serif;


                        .leaflet-popup-content-wrapper {

                            background: transparent;
                            border-color: $LABEL-BORDER;
                            box-shadow: none;

                            .leaflet-popup-content {
                                @include dash-popup-shadow();
                                font-size: 1rem;
                                border-radius: 0.8rem;
                                margin:0;
                                
                                color:$TEXT-COLOR;    
                                background-color: $BODY-COLOR;
                                border-color: $LABEL-BORDER;
    
                                @mixin horizontal-line {
                                    background-color: $TEXT-COLOR;
                                    height: 1px;
                                    position: relative;
                                    vertical-align: middle;
                                    width: 50%;
                                }

                                .tower-popup-header {
                                    border-bottom: none;
                                    border-radius: 0.8rem 0.8rem 0 0;
                                    padding: 1rem 0.8rem 0 0.8rem;
                                    background-color: $LABEL-COLOR;
                                    border-color: $LABEL-BORDER;

                                    .tower-nums {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
            
                                        .tower-number {
                                            // font-size: 1.2em;
                                            // color: $BLUE;
                                            // font-weight: bolder;
                                            padding: 0 0.5rem;
                                            text-align: center;
                                            width:auto;
                                            margin: 0 auto;
                                            cursor: default;
                
                                            .icon {
                                                cursor: pointer;
                                                margin-left: 0.5rem;
                                                
                                                &:hover {
                                                    @include icon-btn-hover();
                                                }

                                                &.animate {
                                                    svg {animation: icon-jump 0.5s ease-in-out normal;
                                                    animation-iteration-count: 1;}
                                                }
                                            } // copy coordinates icon

                                            &.from {
                                                // cursor:none;
                                                color:$TEXT-COLOR;
                                                font-size: 1em;
                                                padding-left: 0;
                                                margin-left: 0;
                                                justify-self: left;
                                            }
                
                                            &.towards {
                                                // cursor:none;
                                                color:$TEXT-COLOR;
                                                font-size: 1em;
                                                padding-right: 0;
                                                margin-right: 0;
                                                justify-self: right;
                                            }

                                        }
                                    } // tower-numbs

                                    .details-expand-toggler {
                                        font-size: 0.65em;
                                        overflow:hidden;
                                        text-align: center;
                                        cursor: pointer;
                                        padding: 0.25rem 0;
        
                                        &::before, &::after {
                                            @include horizontal-line();
                                            content: "";
                                            display: inline-block;
                                        }
        
                                        &::before{
                                            right: 0.5em;
                                            margin-left: -50%;
                                        }
        
                                        &::after {
                                            left: 0.5em;
                                            margin-right: -50%;
                                        }
        
        
                                    }

                                } // tower-popup-header

                                .tower-popup-body {
                                    border-top-: none;
                                    border-radius: 0 0 0.8rem 0.8rem;
                                    padding: 0.25rem 0.8rem 0.25rem 0.8rem;

                                    .details-gallery {
            
                                            // transition: all 1000ms ease-in;   
                                            overflow:hidden;
                                            display: grid;
                                            grid-template-columns: 50% 50%;
                                            grid-template-rows: 4rem 4rem;
                                            grid-gap: 0.25rem;
            
            
                                            .thumbnail {
                                                cursor: pointer;
                                                transition: all 200ms ease-in;
                                                opacity: 0.7;
                                                
                                                &:hover{
                                                    // background-blend-mode: lighten;
                                                    opacity: 1;
                                                }
                                            }
            
                                            &.hidden {
                                                // transition: all 200ms ease-in;      
                                                max-height: 0;
                                                // display: none;
                                            }
            
                                            &::after{
                                                @include horizontal-line();
                                                content: "";
                                                display: block;
                                                width: 200%;
                                            }
            
            
                                           
                                    }
            
                                    .tower-status {
                                        
                                        padding-top: 0.25rem;
                                        display: grid;
                                        grid-template-columns: 50% 50%;
                                        grid-template-rows: auto;
                                        justify-content: center;
                                        align-items: flex-start;
            
                                        .status-pane {
            
                                            display: grid;
                                            grid-template-columns: auto auto;
                                            grid-template-rows: auto;
                                            grid-gap: 1px 1px;
            
                                            &.from {
            
                                            }
            
                                            &.towards {
            
                                            }
            
                                            span {
                                                &.from {
                                                    padding: 0 0.2rem;
                                                    justify-self: right;
                                                }
                    
                                                &.towards {
                                                    padding: 0 0.2rem;
                                                    justify-self: left;
                                                }
            
                                                &.status {
            
                                                    font-weight: normal;
                                                    justify-self: center;
                                                    cursor: pointer;                                                    
                                                    
                                                    @mixin ribbon($color) {
                                                        padding: 0 0.2rem;
                                                        border-radius: 0.2rem;
                                                        background-color:$color;
                                                        animation: fa-opacity-calm 1000ms cubic-bezier(0.39, 0.575, 0.565, 1) infinite running; 
                                                    }
                    
                                                    &.hint {
                                                        @include ribbon($BLUE)
                                                    }
            
                                                    &.light-ice {
                                                        @include ribbon($LIGHT-ICE)
                                                    }
                    
                                                    &.warning-ice {
                                                        @include ribbon($WARNING-COLOR)
                                                    }
                    
                                                    &.alarm-ice {
                                                        @include ribbon($ALERT-COLOR)
                                                    }
            
                                                    &.critical-ice {
                                                        @include ribbon($CRITICAL-ICE)
                                                    }
                                                }
                                            }
                                        }
            
            
                                      
                                        
            
            
                                       
            
                                    } //tower-status

                                } //tower-popup-body
                                
                            
                            } // leaflet-popup-content

                        } // leaflet-popup-content-wrapper
                        .leaflet-popup-tip {
                            
                            color:$TEXT-COLOR;    
                            background-color: $BODY-COLOR;
                        }

                        

                       
                       

                    } // TOWER-POPUP
                  

                } // map cont

             
               
    
                .chart_container{
                    
                    background-color: $LINE-BG;
                    height: 100%;
                    animation: fadein 0.35s ease-in;

    
                    .current_chart {
                        display: block !important;
                        width: calc(100% - 1rem);
                        padding: 0 0.5rem;
                        
                        
                    } // current_chart

                } // chart container
    
                
    
            } // right.pane
    
        } // main.current
        
        .history {
            display: flex;
            box-sizing: content-box;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background-color: $LINE-BG;


            .history_class {
                
                height: 100%;
                width: calc(100% - 1rem);
                padding: 0 0.5rem;
            }

        } //main.history

        .fallback {
            display: table;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse at center, $LINE-BG 0%, $BODY-COLOR 100%);
            vertical-align: middle;



            .overlay {
                display: inherit;
                z-index: 1001;
                width: 100%;
                height: 100%;
                background: $OPAQUE;
                // background-blend-mode: darken;
            }

            .fallback_message {
                
                display: table-cell;
                padding: 0% 10%;
                vertical-align: middle;

              

                
                .fallback_main_text {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    padding-bottom: 2rem;
                    color: $TEXT-COLOR;
                    text-align: center;
                }        
                
                .fallback_btn_block {

                    display: flex;
                    align-items: center;
                    // align-content: center;
                    justify-content: center;


                    .btn {
                        text-align: center;
                        padding: 0.5rem 0;
                        margin: 0 1rem;
                        width: 10rem;

                        &:hover{
                            background-color: $BLUE;
                            // color: $TEXT-COLOR;
                            transition: background-color 200ms ease-in;
                            // transition: color 200ms ease-in;

                        }
                    }
                }

            } // Fallback_messag

        } //fallback

        .unit {
            padding-left: 0.3em;
            font-size: 0.6em;
            vertical-align: 0%;
        }
    

        

    
    } //main
    

    .loading_screen {
        z-index: 1000;
        position: relative;
        // top: 0;
        // right:0;
        // left: 0;
        height: 0;
        text-align: center;

        div{
            box-sizing: border-box;
            padding: 1rem 2rem;
            border-radius: 0.6rem;
            border-color: $LABEL-BORDER;
            border-width: 10px;            
            margin-top: 6rem;
            display: inline-block;
            background-color: $LABEL-COLOR;
            color: $TEXT-COLOR;
            box-shadow: 0px 0px 10px 2px $SHADOW-COLOR;

            span{
                margin-right: 1rem;
                color: $BLUE;
            }
        }

    }

    //
    // CONTROLS
    //

    @mixin controls {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 2px;
        
    }

    .chart_controls {
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .selector-card {
            font-size: 0.8rem;
            padding: 0 0.5rem 0 0 ;
            // background-color: $BG-COLOR;
            .selector-header {
                // border-radius: 0.5rem 0.5rem 0 0;
                // box-shadow:1px 1px 6px $SHADOW-COLOR;
                padding: 0.2rem;
                font-weight: normal;
                color: $TEXT-COLOR;    
                background-color:$LABEL-COLOR;
                text-align: center;
            }

            .selector-body {
                
                // border-radius: 0 0 0.5rem 0.5rem;
                // box-shadow:1px 1px 6px $SHADOW-COLOR;
                // padding: 0 0.5rem;
                background-color: $LABEL-BORDER;
                display: flex;
                flex-direction: row;

               
                .line-range {
                    display: flex;
                    flex-direction: column;

                    @media screen and (min-width: 1350px) {
                        flex-direction: row;
                    }
                }

                .entity-selector {
                    display: grid;
                    grid-template-rows: auto auto;
                    grid-template-columns: auto auto;   
                    // grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));

                    @media screen and (min-width: 1350px) {
                        grid-template-columns: auto auto auto auto auto auto;
                    }
                }

            }


           

            //
            // Accessing react-dropdown
            //

            .Dropdown-placeholder {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .Dropdown-control {
                @include controls();
                padding: 0.2rem 2rem 0.2rem 1rem;
                cursor: pointer;
            }

            .Dropdown-option {
                padding: 0.2rem 1rem;
            }

            .Dropdown-arrow {
                right: 0.65rem;
                top: 0.65rem;
            }


            // 
            // Accessing react-datepicker
            //

            .react-datepicker__input-container {
                input {
                    @include controls();
                    font-family: inherit;
                    box-sizing: border-box;
                    padding: 0.2rem 0.5rem;
                }
            }

            .react-datepicker {
                font-family: inherit;
            }

            .react-datepicker__day--selected, .react-datepicker__day--in-range {
                background-color:$BLUE;
            }

        } //location-selector

        .close-chart {
            align-self: flex-start;
            justify-self: right;
            font-size: 0.6rem;
        }

    } //chart_controls



    .btn-group {
        @include controls();
        font-size: inherit;
        box-sizing: border-box;
        padding: 0.2rem 0.5rem;

        .item {
            display: inline;
            box-sizing: border-box;
            padding: 0 0.5rem 0 0;
            cursor: pointer;

            label {
                cursor: inherit;
            }
            

            /* Hide the browser's default checkbox */
            input {
                display: none;
                
            }
            
            span{ 
                color:lightgray; 
            }


            &.active {
                span{ 
                    color:$BLUE; 
                }
            }

            &.disabled {
                cursor: not-allowed;
                label {
                    color: lightgray;
                }
            }
        } //item
    } //btn-group


    .btn {
        @include controls();
        font-style: inherit;
        box-sizing: border-box;
        padding: 0.2rem 0.5rem;
        cursor: pointer;

        .btn-text {
            margin: 0 auto;
        }

        .btn-icon{ 
            color:lightgray; 
        }

        &.active {
            span{ 
                color:$BLUE; 
            }
        }

        &.disabled {
            cursor: not-allowed;
            background-color: darkgray;
            // color: $TEXT-COLOR;


        }

    }

    //
    // RIBBON
    //

    .ribbon_container {
        margin-right: 1rem;
        cursor: pointer;
    }

    .ribbon {
        @mixin ribbon($color) {
            padding: 0 0.2rem;
            border-radius: 0.2rem;
            background-color:$color;
            animation: fa-opacity-calm 1500ms cubic-bezier(0.39, 0.575, 0.565, 1) infinite running; 
        }

        &.hint {
            @include ribbon($BLUE)
        }

        &.light-ice {
            @include ribbon($LIGHT-ICE)
        }

        &.warning-ice {
            @include ribbon($WARNING-COLOR)
        }

        &.alarm-ice {
            @include ribbon($ALERT-COLOR)
        }

        &.critical-ice {
            @include ribbon($CRITICAL-ICE)
        }


    } //ribbon
    
}


